{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <h2>Question- What is your favourite color?</h2>
</div>
<table class="table">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Answer</th>
    </tr>
</thead>
<tbody>
    <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>Red is my favourite color.</td>
    </tr>
    <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>Blue is my favourite color.</td>
    </tr>
    <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>Bird</td>
    <td>Green is my favourite color.</td>
    </tr>
</tbody>
</table>
{% endblock %}
